{% extends 'base.html' %}

{% load static %}

{% block content %}
     <!-- Your index page content goes here -->
    <div class="container text-center mt-4">
        <h1 style="color: antiquewhite;">WELCOME TO CINEMA THEATER</h1>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card mb-4" style="background-color: antiquewhite; color: black;">
                    <img src="{% static 'polls/images/home.jpg' %}" class="card-img-top" alt="home">
                    <div class="card-body">
                        <p class="card-text">Words</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
