{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <h2 class="text-center mb-4" style="color: antiquewhite;">Showtimes</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4" style="background-color: antiquewhite; color: black;">
                    <img src="{% static 'polls/images/elf.jpg' %}" class="card-img-top" alt="elf">
                    <div class="card-body">
                        <h5 class="card-title">Elf</h5>
                        <p class="card-text">Showtimes</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4" style="background-color: antiquewhite; color: black;">
                    <img src="{% static 'polls/images/ghost.png' %}" class="card-img-top" alt="ghostbusters">
                    <div class="card-body">
                        <h5 class="card-title">Ghostbusters 2</h5>
                        <p class="card-text">Showtimes</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4" style="background-color: antiquewhite; color: black;">
                    <img src="{% static 'polls/images/ryan.jpg' %}" class="card-img-top" alt="privateryan">
                    <div class="card-body">
                        <h5 class="card-title">Saving Private Ryan</h5>
                        <p class="card-text">Showtimes</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4" style="background-color: antiquewhite; color: black;">
                    <img src="{% static 'polls/images/jurassic.jpg' %}" class="card-img-top" alt="jurassic">
                    <div class="card-body">
                        <h5 class="card-title">Jurassic Park</h5>
                        <p class="card-text">Showtimes</p>
                    </div>
                </div>
            </div>
             <div class="col-md-6">
                <div class="card mb-4" style="background-color: antiquewhite; color: black;">
                    <img src="{% static 'polls/images/shrek.png' %}" class="card-img-top" alt="shrek">
                    <div class="card-body">
                        <h5 class="card-title">Shrek</h5>
                        <p class="card-text">Showtimes</p>
                    </div>
                </div>
            </div>
             <div class="col-md-6">
                <div class="card mb-4" style="background-color: antiquewhite; color: black;">
                    <img src="{% static 'polls/images/lambs.png' %}" class="card-img-top" alt="lambs">
                    <div class="card-body">
                        <h5 class="card-title">The Silence of the Lambs</h5>
                        <p class="card-text">Showtimes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1>Showtimes</h1>

    <p>Check out our latest movie showtimes:</p>

    <ul>
        {% for showtime in showtime_data %}
            <li>{{ showtime.movie }} - {{ showtime.time }}</li>
        {% endfor %}
    </ul>

        {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
                <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>

    {% endif %}
{% endblock %}