{% extends 'base.html' %}

{% block content %}
    <h1>Showtimes</h1>

    <p>Check out our latest movie showtimes:</p>

    <ul>
        {% for showtime in showtime_data %}
            <li>{{ showtime.movie }} - {{ showtime.time }}</li>
        {% endfor %}
    </ul>

        {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
                <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>

    {% endif %}
{% endblock %}