{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <h2 class="text-center mb-4" style="color: antiquewhite;">TICKETS</h2>
        <div class="container text-left mt-4">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="card mb-4" style="background-color: antiquewhite; color: black;">
                        <img src="{% static 'polls/images/tickets.png' %}" class="card-img-top" alt="tickets">
                        <div class="card-body" style="font-size: 1.2rem;">
                            <p>Explore our ticket options:</p>
                            <ul>
                                {% for ticket in ticket_data %}
                                    <li>{{ ticket.type }} - ${{ ticket.price }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
                <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>

    {% endif %}
{% endblock %}
