{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <h2 class="text-center mb-4" style="color: antiquewhite;">TICKETS</h2>
        <div class="container text-left mt-4">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="card mb-4" style="background-color: antiquewhite; color: black;">
                        <img src="{% static 'polls/images/tickets.png' %}" class="card-img-top" alt="tickets">
                        <div class="card-body" style="font-size: 1.2rem;">
                            {% if ticket_submitted %}
                                <p>Thanks for purchasing your tickets. Enjoy your movie!</p>
                                <div class="mt-3 text-center">
                                    <p>Need more tickets? <a href="{% url 'tickets' %}">Purchase more here</a>.</p>
                                </div>
                            {% else %}
                                <p>Explore our ticket options:</p>
                                <form method="post" action="{% url 'tickets' %}">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button type="submit">Submit</button>
                                </form>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
