li a {
    color: yellow;
}

nav {
    background-color: #ba4545;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #ffff76;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

nav li {
    margin-right: 30px; /* Adjust the spacing between menu items */
}

header {
    text-align: center;
    padding: 20px;
    font-size: xx-large;
    font-weight: bold;
}
body {
    background-color: darkred;
}


header {
    background-color: antiquewhite;
    color: darkred;
}

