{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body" style="background-color: antiquewhite; color: darkred;">
                        <h2 class="text-center mb-4">Login</h2>
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            {{ form.username.label_tag }}
                            {{ form.username }}
                            <br><br>
                            {{ form.password.label_tag }}
                            {{ form.password }}
                            <br><br>
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </form>
                    </div>
                </div>
                <div class="mt-3 text-center">
                    <p><strong>Don't have an account?</strong> <a href="{% url 'register' %}"><strong>Register here</strong></a>.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
