{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body" style="background-color: antiquewhite; color: darkred;">
                        <h2 class="text-center mb-4">Register</h2>
                        {% if registration_success %}
                            <p>Registration successful. Welcome!</p>
                            <div class="mt-3 text-center">
                                <p><a href="{% url 'login' %}"><em>Login here</em></a>.</p>
                            </div>
                        {% else %}
                            <form method="post" action="{% url 'register' %}">
                                {% csrf_token %}
                                {{ form.username.label_tag }}
                                {{ form.username }}
                                <br>
                                {{ form.email.label_tag }}
                                {{ form.email }}
                                <br>
                                {{ form.password1.label_tag }}
                                {{ form.password1 }}
                                <br><br>
                                {{ form.password2.label_tag }}
                                {{ form.password2 }}
                                <br><br>
                                <button type="submit" class="btn btn-primary btn-block">Register</button>
                            </form>
                            {% if form.errors %}
                                <div class="mt-3 text-danger">
                                    <p>Registration failed. Please correct the following errors:</p>
                                    <ul>
                                        {% for field, errors in form.errors.items %}
                                            {% for error in errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="mt-3 text-center">
                    <p><strong>Have an account? </strong> <a href="{% url 'login' %}"><strong>Login here</strong></a>.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}